body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background-color: #282c34;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  color: #ffffff;
}

.game {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.status {
  margin-bottom: 20px;
  font-size: 28px;
  font-weight: bold;
  color: #61dafb;
  text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
}

.board-row {
  display: flex;
}

.square {
  background-color: #61dafb;
  border: 3px solid #282c34;
  font-size: 40px;
  font-weight: bold;
  line-height: 80px;
  height: 80px;
  width: 80px;
  margin-right: -3px;
  margin-top: -3px;
  padding: 0;
  text-align: center;
  cursor: pointer;
  transition: background-color 0.3s, transform 0.3s;
  color: #282c34;
  border-radius: 5px;
}

.square:hover {
  background-color: #21a1f1;
  transform: scale(1.1);
}

.square:focus {
  outline: none;
}

.square.X {
  color: #ff6f61;
}

.square.O {
  color: #6bff61;
}

.game-info {
  margin-top: 20px;
}

button {
  font-size: 16px;
  padding: 8px 15px;
  margin: 5px 0;
  cursor: pointer;
  background-color: #61dafb;
  color: #282c34;
  border: 2px solid #282c34;
  border-radius: 5px;
  transition: background-color 0.3s, transform 0.3s;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.2);
}

button:hover {
  background-color: #21a1f1;
  transform: scale(1.05);
}

ol {
  padding-left: 30px;
  font-size: 18px;
}

ol li {
  margin-bottom: 10px;
}
